/* css styles */
figcaption {
    text-align: center;
}


/* Style for model links */
a.crop-link {
    color: #1e90ff;
    text-decoration: underline dashed;
}

/* Style for crop links */
a.model-link {
    color: #228b22;
    text-decoration: underline dotted;
}

/* Style for broken links */
a.broken-link {
    color: #ef9a9a;
    /* light red */
    text-decoration: underline wavy #ef9a9a;
}

/* Style for external links */
a.external-link {
    color: #6c757d;
    /* muted gray */
    text-decoration: none;
    border-bottom: 1px dotted #6c757d;
    /* subtle underline */
    transition: color 0.3s ease, border-color 0.3s ease;
}

h3 {
    position: relative;
    padding-bottom: 0.4em;
    margin-top: 1em;
    display: inline-block;
    border-bottom: 1px solid #ccc;
}


h4 {
    font-weight: bold;
    position: relative;
    padding-bottom: 0.4em;
    margin-top: 1em;
    display: inline-block;
    border-bottom: 1px dotted #ccc;
}



.connections-intro {
    font-size: 0.9rem;
    color: #666;
    margin-top: -0.3em;
    margin-bottom: 0.8em;
    font-style: italic;
}