on:
  workflow_dispatch:
  push:
    branches: main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.5.0'

      - name: Install R Dependencies
        uses: r-lib/actions/setup-renv@v2
        with:
          cache-version: 1
      
      - name: Compile APSIMX
        uses: byzheng/apsimx-actions@main
      
      - name: Cache Quarto freeze state
        uses: actions/cache@v4
        with:
          path: _freeze
          key: freeze-${{ github.ref }}-${{ hashFiles('**/*.qmd') }}
          restore-keys: |
            freeze-${{ github.ref }}-

      - name: Render docs
        run: quarto render

      - name: Publish to gh-pages without deleting previews
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _site
          keep_files: true